<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SumItUp News Reader</title>
{% load staticfiles %}
<link href="{% static "summarize/css/bootstrap.css" %}" rel="stylesheet" type="text/css" />
<script src="{% static "summarize/js/jquery-1.9.1.js" %}"></script>
<script src="{% static "summarize/js/summarize.js" %}"></script>


<style>
	
</style>
</head>

<body>
	<div class="container">
	<br/><br/>
		<div class="row">
			<div class = "col-md-8 col-md-offset-2">
				<ul class="nav nav-tabs nav-justified">
				  <li class="active"><a href="#"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Feed</a></li>
				  <li><a href="#"><span class="glyphicon glyphicon-tasks"></span>&nbsp;Settings</a></li>
				  <li><a href="#">About</a></li>
				</ul>
			</div>
			
		</div>
		<br/><br/>
		<div class="row">
			<div class="col-md-2">
				<div class="list-group">
				  <a href="#" class="list-group-item active">
					Top Stories
				  </a>
				  <a href="#" class="list-group-item">Business</a>
				  <a href="#" class="list-group-item">Technology</a>
				  <a href="#" class="list-group-item">Entertainment</a>
				  <a href="#" class="list-group-item">Sports</a>
				  <a href="#" class="list-group-item">Science</a>
				  <a href="#" class="list-group-item">Health</a>
				</div>
			</div>
			
			<div class="col-md-6 col-md-offset-1">
				{% for article in data%}
					<h3>{{article.title}}</h3>
					<p class="text-justify">{{article.article}}<p/>
					<p class="text-right">Sourced at <a href ="{{article.permalink}}">{{article.source}}</a></p>
					<hr/>
				{% endfor %}
			</div>
			
		</div>
	</div>

</body>
</html>
